.search {
  border: 1px solid #bdbdbd;
  border-radius: 10px;
  padding: 0 10px;
  max-width: 100%;
  width: 250px;
  background: #fff;
  input {
    background-color: transparent;
    color: #ed6c02;
  }
}
