.notpage {
  margin: 0 auto;
  div {
    gap: 25px;
    h2 {
      font-size: 235px;
      color: #585858;
      font-weight: 600;
    }
    .notpage-n1 {
      transform: rotate(-7deg);
    }
    .notpage-n2 {
      transform: rotate(7deg);
    }
  }
  h1 {
    font-weight: 500;
    font-size: 50px;
    color: #ff9600;
  }
  p {
    font-size: 16px;
    color: #787877;
  }
}
